@model dynamic

@{
    ViewBag.Title = "";
}
<div>
    <a href="~/Images/attestat_YuS.png" class="flipLightBox">
        <img src="~/Images/attestat_YuS.png" width="225" height="225" alt="Image 1" />
    </a>
    <a href="~/Images/Svidetelstvo_Yu_S.png" class="flipLightBox">
        <img src="~/Images/Svidetelstvo_Yu_S.png" width="225" height="225" alt="Image 1" />
    </a>
    <a href="~/Images/ISO-rus.png" class="flipLightBox">
        <img src="~/Images/ISO-rus.png" width="225" height="225" alt="Image 1" />
    </a>
    <a href="~/Images/ISO-eng.png" class="flipLightBox">
        <img src="~/Images/ISO-eng.png" width="225" height="225" alt="Image 1" />
    </a>
</div>
<script type="text/javascript" src="~/Scripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/fliplightbox.min.js"></script>
<script type="text/javascript"> $('body').flipLightBox({ lightbox_flip_speed: 500, lightbox_border_color: '#666666' });</script>
