@{
    ViewBag.Title = "Contact";
}
<h3>Контактная информация:</h3>
<div class="contentText">
    Электронный адрес: <a href="mailto:us_vasiliev@tut.by">us_vasiliev@tut.by</a> и <a href="mailto:ur.slugba-info@mail.ru">ur.slugba-info@mail.ru</a>
</div>
<div class="contentText">
    Телефон/факс 549-02-96
</div>
<div class="contentText">
    Офис располагается: 223028, аг.Ждановичи, ул.Звездная, 21/2
</div>