@model dynamic

@{
    ViewBag.Title = "title";
}
<h3>Перечень функций заказчика, застройщика:</h3>
<div class="contentText">
    <ol>
        <li>
            <b>На предпроектной (предынвестиционной) стадии:</b>
            <ol>
                <li>Принятие решения о реализации инвестиционного проекта;
                </li>
                <li>Разработка и утверждение задания на разработку предпроектной (предынвестиционной) документации;
                </li>
                <li>Назначение руководителя (управляющего) проекта по возведению, реконструкции и реставрации объекта строительства и определение его функций либо привлечение инженерной организации (инженера) (исходя из планируемых источников и объемов финансирования, предусмотренных в предпроектной (предынвестиционной) документации) и определение его функций по реализации проекта.
                </li>
            </ol>
        </li>
        <li>
            <b>В области освоения строительной площадки:</b>
            <ol>
                <li>Подготовка документов, необходимых для предоставления замельного участка для строительства, получения разрешительной документации на проектирование и возведение, реконструкцию, реставрацию, капитальный ремонт объекстов строительства (далее - разрешительная документация для на строительство), подача в местный исполнительный и распорядительный орган соответствующих заявлений.</li>
                <li>Заключение  договора подряда на подготовку разрешительной документации на строительство с организацией по землеустройству, структурным подразделением местного исполнительного и распорядительного органа, осуществляющим государственно-властные полномочия в области архитектурной, градостроительной и строительной деятельности, или специально созданным коммунальным унитарным предприятием.</li>
                <li>Получение разрешительной документации на строительство.</li>
                <li>Обращение за государственной регистрацией земельного участка (прав на него).</li>
                <li>Обеспечение создания геодезическойразбивочной основы для строительства объекта (выполнения строительных работ).</li>
                <li>Организация сноса зданий, сооружений, удаления и (или) пересадки объектов растительного мира, находящихся на строительной площадке, обеспечение выполнения работ по демонтажу оборудования, аппаратуры, механизмов и устройств, отключению действующих инженерных коммуникаций на объектах, подлежащих сносу, переносу или реконструкции, временной подводки сетей энергоснабжения, водо- и газопровода, обеспечение переселения в установленном порядке лиц, проживающих в зданиях, подлежащих сносу, переносу или реконструкции, оказание других услуг в случаях и порядке, предусмотренных договором строительного подряда.</li>
                <li>Возмещение гражданам в случаях и порядке, предусмотренных закодательством, стоимости подлежащих сносу объектов недвижимости, принадлежащих им на праве частной собственности, и насаждений при них.</li>
                <li>Обеспечение учета и реализации строительных материалов, полученных в результате разборки зданий (в том числе временных титульных), сооружений, конструкций.</li>
            </ol>
        </li>
        <li>
            <b>В области обеспечения проектной документацией:</b>
            <ol>
                <li>Организация подрядных торгов на выполнение проектных, изыскательских работ, иных процедур закупок в случаях и порядке, установленных законодательством, либо переговоров.</li>
                <li>Подготовка (обеспечение подготовки) и утверждение задания на проектирование.</li>
                <li>Заключение договора подряда на выполнение проектных и изыскательских работ и (или) ведение авторского надзора за строительством, а при необходимости - на выполнение работ по обследованию зданий и сооружений.</li>
                <li>Участие вместе с разработчиками проектной документации в согласовании готовой проектной документации с соответствующими государственными органами и органами местного управления и самоуправления.</li>
                <li>Участие в проведении общественных обсуждений в области архитектурной, градостроительной и строительной деятельности.</li>
                <li>Принятие от разработчика и утверждение в установленном порядке проектной документации.</li>
                <li>Внесение при необходимости изменений и (или) дополнений в утвердженную проектную документацию, повторное её согласование и утверджение в установленном порядке.</li>
                <li>Обеспечение осуществления автоского надзора.</li>
            </ol>
        </li>
        <li>
            <b>В области организации строительства:</b>
            <ol>
                <li>Организация подрядных торгов на выполнение работ, оказание услуг при строительстве объектов, иных процедур закупок в случаях и порядке, установленных законодательством, либо переговоров.</li>
                <li>Заключение договора строительного подряда.</li>
                <li>Получение разрешения органов государственного строительного надзора на производство строительно-монтажных работ в установленном порядке.</li>
                <li>Передача подрядчику утвержденной проектной документации, если договором строительного подряда не предусмотрена обязанность подрядчика её разработать, разрешительной документации, технической документации на геодезическую разбивочную основу и закрепленные на территории строительства объекта пункты и знаки этой основы с освидетельствованием их в натуре, а также иной документации, необходимой необходимой для исполнения договора строительного подряда, в сроки и количестве, предусмотренные договором.</li>
                <li>Передача подрядчику строительной площадки в срок, установленный договором строительного подряда.</li>
                <li>Обеспечение координации деятельности участников строительной деятельности, урегулирование разногласий, организация производственных совещаний на объекте строительства, предъявление пир необходимости претензий и исков к подрядчикам, поставщикам, разработчикам проектной документации при невыполнении или ненадлежащем выполнении договорных обязательств.</li>
                <li>Размещение в доступном для обозрения месте информации об объекте строительства с указанием его заказчика, застройщика, подрядчика, сроков начала и окончания проведения строительных, специальных, монтажных, пусконаладочных работ и иной информации.</li>
                <li>Осуществление контроля и технического надзора за выполнением работ по договору строительного подряда самостоятельно или путем заключения договора с инженером (инженерной организацией).</li>
                <li>Уведомление подрядчика о работах ненадлежащего качества и об отступлениях от условий договора строительного подряда.</li>
                <li>Принятие при необходимости решения о приостановлении строительства, консервации объекта строительства, о продлении срока строительства.</li>
                <li>Участие в разработке графика производства работ и осуществление контроля за его выполнением.</li>
                <li>Предоставление материальных ресурсов и услуг в соответствии с условиями договора строительного доряда и графиком производства работ.</li>
                <li>Обеспечение совместно с подрядчиком, разработчиком проектной документации проведения комплексного опробования оборудования.</li>
                <li>Обеспечение проведения пусконаладочных работ.</li>
                <li>Обеспечение подключения новых инженерных коммуникаций к действующим.</li>
                <li>Освидетельствование скрытых работ, приемка выполненных строительных работ и промежуточная приемка ответственных конструкций с оформлением актов установленной формы.</li>
                <li>Принятие в установленном законодательством порядке необходимых мер при строительной аварии, создание комиссии по расследованиею остоятельств аварии, соблюдение установленного порядка расследования обстоятельств строительной аварии.</li>
                <li>Страхование рисков, вытекающих из договора строительного подряда, в случаях, предусмотренных договором строительного подряда.</li>
                <li>Заключение и исполнение договора создания объекта долевого строительства в порядке, установленном законодательством.</li>
                <li>Взаимодействие с органами государственного строительного надзора, другими государственными органами, организациями.</li>
            </ol>
        </li>
        <li>
            <b>В области финансирования, учета и отчетности:</b>
            <ol>
                <li>Своевременное составление, согласование с подрядчиком и подписание графика платежей с разбивкой по источникам финансирования.</li>
                <li>Рассмотрение представляемых подрядчиком справок, актов выполненных работ, подписание их и своевременное производство рассчетов за выполненные работы, законченный строительством объект.</li>
                <li>Надзор за целевым и рациональным использованием средств, выделенных на строительство объекта.</li>
                <li>Принятие и оплата в установленном порядке выполненных работ, оплата подрядчику выполненных до консервации объекта строительства работ и возмещение ему понесенных в связи с консервацией затрат и убытков.</li>
                <li>Выплата неустойки и возмещение убытков подрядчику в случае невыполнения или ненадлежащего исполнения заказчиком обязательств по договору строительного подряда, если он не докажет, что нарушение условий договора произошло не по его вине.</li>
                <li>Предъявление при необходимости претензий и исков к подрядчикам, поставщикам, разработчикам проектной документации при невыполнении или ненадлежащем исполнении договорных обязательств.</li>
                <li>Организация и ведение бухгалтерского учета по объекту строительства, продоставление в установленном законодательством порядке государственной статистической отчетности, связанной со строительством объекта и выполнением заключенных договоров.</li>
            </ol>
        </li>
        <li>
            <b>В области материально-технического обеспечения:</b>
            <ol>
                <li>Предоставление материальных ресурсов в соответствии с условиями договора строительного подряда и графиком поставки материальных ресурсов, если договором строительного подряда предусмотрено, что обеспечение строительства объекта в целом или части осуществляет заказчик.</li>
                <li>Осуществление приемки, учета и надлежащего хранения материальных ресурсов.</li>
                <li>Проведение в установленных законодательством случаях предмонтажной ревизии и устранение недостатков (дефектов) оборудования, находящегося у заказчика.</li>
                <li>Организация при необходимости презентации квартир-эталонов, строительных материалов, изделий, конструкций, сантехнического и электротехнического оборудования.</li>
            </ol>
        </li>
        <li>
            <b>В области приемки законченных строительством объектов:</b>
            <ol>
                <li>Осуществление мероприятий, обеспечивающих своевременную приемку объекта в эксплуатацию в соответствии с проектной документацией.</li>
                <li>Формирование рабочей комиссии по приемке установленного оборудования после индивидуальных испытаний и комплексного опробования на объектах производственной инфраструктуры.</li>
                <li>Формирование и руководство работой приемочной комиссии по законченным строительством объектам или выполненным строительным работам, уведомление членов приемочной комиссии об участии их в работе приемочной комиссии.</li>
                <li>Предоставление приемочной комиссии необходимых документов, предусмотренных законодательством, в том числе техническими нормативными правовыми актами.</li>
                <li>Утверждение акта приемки объекта в эксплуатацию.</li>
                <li>Организация и обеспечение передачи законченного строительством объекта эксплуатационной организации, собственнику (владельцу).</li>
                <li>Обращение за государственной регистрацией в отношении принятого в эксплуатацию объекта в случаях, когда заказчик, застройщик, приобретают право собственности или ниное право на возведенный объект строительства.</li>
            </ol>
        </li>
        <li>
            <b>В период гарантийного срока эксплуатации законченных строительством объектов:</b>
            <ol>
                <li>Предоставление собственнику либо владельцу всей необходимой информации об объекте, в том числе о правилах эксплуатации объекта, гарантийных обязательствах подрядчика, сроках эксплуатации объекта, разработчиках проектной документации, субподрядчиках, принимавших участие в разработке проектной документации и строительстве объекта.</li>
                <li>Передача документации по приемке объекта в эксплуатацию на хранение эксплуатирующей организации в случае передачи объекта на баланс эксплуатирующей организации, собственнику (владельцу).</li>
                <li>Осуществление контроля за соблюдением подрядчиком своих обязательств в период действия гарантийного срока.</li>
                <li>Обеспечение устранения выявленных в период гарантийного срока дефектов.</li>
            </ol>
        </li>
        <li>
            <b>Иные функции, предусмотренные законодательством.</b>
        </li>
    </ol>
</div>
