@model dynamic

@{
    ViewBag.Title = "title";
}
<h3>Перечень функций заказчика, застройщика:</h3>
<div class="contentText">
    <ol>
        <li>
            <b>Инженерная организация по договору с заказчиком, застройщиком может осуществлять комплексное управление строительной деятельностью, при котором инженерные услуги охватывают все стадии строительной деятельности, с обязательным осуществлением технического надзора с правом принятия решений от имени заказчика, застройщика во взаимоотношениях с подрядчиком, иными участниками строительной деятельности.
                В случае осуществления комплексного управления строительной деятельностью инженерная организация может выполнять:</b>
                <br/>организационно-технические мероприятия по подготовке документов, необходимых для предоставления в установленном порядке земельных участков, сбору исходных данных, необходимых для составления проектной документации на возведение, реконструкцию, реставрацию, капитальный ремонт, благоустройство объекта (далее – проектная документация), разрешительной документации, которые могут включать:
                <div class="contentText" style="margin-top:0px;">
                    •разработку технико-экономических обоснований, выработку вариантов инвестирования средств в недвижимость, разработкубизнес-планов инвестиционных проектов;
                    <br/>•подготовку документов, необходимых для заключения договора подряда с организацией по землеустройству, структурным подразделением местного исполнительного и распорядительного органа, осуществляющим государственно-властные полномочия в области архитектурной, градостроительной и строительной деятельности, или специально создаваемым коммунальным унитарным предприятием, в том числе прилагаемых к нему сводной ведомости инженерных нагрузок, проекта задания на проектирование;
                    <br/>•получение необходимых согласований, в том числе согласования земельно-кадастровой документации по предлагаемому месту размещения земельного участка;
                    <br/>•сбор технических условий на инженерно-техническое обеспечение объекта строительства;
                    <br/>•подготовку документов, необходимых для обращения за государственной регистрацией в отношении земельного участка;
                </div>
        </li>
        <li>
            <b>организационно-технические мероприятия по выбору подрядчиков, разработчиков проектной документации, поставщиков товаров, подготовке проектов и (или) заключению договоров подряда на выполнение проектных и изыскательских работ, строительного подряда, иных договоров, которые могут включать:</b>
            
                <br/>•разработку конкурсной документации по согласованию с заказчиком, застройщиком;
                <br/>•организацию подрядных торгов на строительство объектов, на выполнение проектных и изыскательских работ, отдельных видов строительных, специальных, монтажных, пусконаладочных работ, этапов работ по строительству, организацию торгов при размещении необходимых для строительной деятельности заказов на поставку строительных материалов, изделий, конструкций, инвентаря и оборудования, иных процедур закупки в случаях и порядке, установленных законодательством;
                <br/>•подготовку проектов и (или) заключение совместно с заказчиком, застройщиком договоров подряда на выполнение проектных и изыскательских работ, осуществление контроля за выполнением таких договоров, оказание содействия разработчикам проектной документации в выполнении проектных и изыскательских работ в объеме и на условиях, предусмотренных в договоре, участие вместе с разработчиками проектной документации в согласовании готовой проектно-сметной документации с соответствующими государственными органами, проверку проектно-сметной документации на соответствие утвержденному заданию на проектирование с подготовкой заключения о возможности ее передачи заказчиком подрядчику к производству работ;
                <br/>•размещение в доступном для обозрения месте информации об объекте строительства с указанием его заказчика, застройщика, подрядчика, сроков начала и окончания проведения строительных, специальных, монтажных, пусконаладочных работ и иной информации;
                <br/>•участие в проведении общественных обсуждений в области архитектурной, градостроительной и строительной деятельности;
                <br/>•подготовку проектов и (или) заключение совместно с заказчиком, застройщиком договоров на осуществление авторского надзора с разработчиками проектной документации, контроль за их исполнением;
                <br/>•подготовку проектов и (или) заключение совместно с заказчиком, застройщиком договоров строительного подряда;
                <br/>•координацию деятельности участников строительной деятельности, организацию производственных совещаний на объекте строительства, подготовку итоговых протоколов и их рассылку участникам строительной деятельности, контроль за исполнением протоколов совещаний, урегулирование с участниками строительной деятельности разногласий, предъявление по поручению заказчика, застройщика претензий к подрядчикам, поставщикам, разработчикам проектной документации при невыполнении или ненадлежащем выполнении договорных обязательств;
                <br/>•взаимодействие с органами государственного строительного надзора, другими государственными органами, организациями, обеспечение устранения подрядчиками замечаний лиц, осуществляющих надзорные функции;
                <br/>•подготовку документов, необходимых для получения предусмотренных законодательством разрешений соответствующих организаций на производство работ в зоне воздушных линий передачи, линий связи, в полосе отвода железных дорог, в местах прохождения подземных коммуникаций, расположенных на строительной площадке, на пользование в период строительства электроэнергией, газом, водой, паром от существующих источников в соответствии с проектом организации строительства, на рубку леса, удаление и (или) пересадку объектов растительного мира, а в необходимых случаях – на получение лесорубочных билетов;
                <br/>•обеспечение геодезической разбивочной основы для строительства объекта, приемку и передачу ее подрядчику;
                <br/>•организацию инженерного обустройства строительной площадки, в том числе энергоносителями, связью;
                <br/>•организацию сноса зданий, сооружений, удаления и (или) пересадки объектов растительного мира, находящихся на строительной площадке;
                <br/>•подготовку документов, необходимых для получения разрешения на производство строительно-монтажных работ;
                <br/>•проверку состояния и качества исполнительной и производственной документации у подрядчиков и подтверждение в установленном порядке фактического завершения этапов работ по строительству в соответствии с утвержденной проектно-сметнойдокументацией и техническими нормативными правовыми актами и готовности объекта к приемке в эксплуатацию;
                <br/>•контроль за выполнением подрядчиком требований проектно-сметной документации, проекта организации строительства и проекта производства работ;
                <br/>•контроль качества выполненных подрядчиком работ, правильности расчета стоимости строительства в текущих ценах;
                <br/>•приостановление производства строительных, специальных, монтажных, пусконаладочных работ, выполняемых с отступлениями от утвержденной проектной документации и (или) нарушением требований технических нормативных правовых актов, а также в случае невыполнения подрядчиком указаний разработчика проектной документации и (или) указаний либо предписаний органов государственного строительного надзора по устранению выявленных дефектов и (или) нарушений, создающих угрозу деформации либо обрушения зданий, сооружений, их отдельных частей, инженерных коммуникаций, конструкций, а также угрозу возникновения опасности для жизни и здоровья граждан, сохранности имущества физических и юридических лиц, окружающей среды;
                <br/>•организационно-технические мероприятия по консервации объекта строительства, проведение периодических осмотров законсервированного объекта незавершенного строительства для обеспечения его сохранности и безопасности;
                <br/>•освидетельствование скрытых работ, организацию приемки выполненных работ, этапов работ по строительству и промежуточную приемку ответственных конструкций с оформлением соответствующих актов;
                <br/>•надзор за целевым и рациональным использованием средств, внесение предложений о необходимости дополнительных затрат, об использовании остающихся в распоряжении заказчика, застройщика средств на непредвиденные затраты, предусмотренных сметой (сметной документацией);
                <br/>•контроль исполнения графиков производства работ, ежемесячную оценку хода строительства в сравнении с договорными сроками, анализ возникающих проблем, прогноз их влияния на сроки строительства объекта;
                <br/>•согласование образцов строительных материалов, изделий, конструкций и оборудования, предполагаемых к применению на объекте строительства, проверка их качества, наличия и правильности оформления документов, подтверждающих их качество;
                <br/>•подготовку проектов и (или) заключение совместно с заказчиком, застройщиком договоров с поставщиками строительных материалов, изделий, конструкций и оборудования, в случае если договором строительного подряда обеспечение поставки возложено на заказчика, застройщика, обеспечение поставки строительных материалов, изделий, конструкций и оборудования, проведение предмонтажной ревизии оборудования и своевременная передача его подрядчикам, обеспечение выполнения пусконаладочных работ, комплексного опробования и испытания смонтированного оборудования;
                <br/>•организацию при необходимости презентации квартир-эталонов, строительных материалов, изделий, конструкций, сантехнического и электротехнического оборудования;
                <br/>•контроль за ведением общего журнала работ и журнала авторского надзора;
        </li>
        <li>
            <b>организацию приемки объекта в эксплуатацию, осуществление функций заказчика, застройщика в период гарантийного срока эксплуатации объекта, которые могут включать:</b>
                <br/>•формирование рабочей комиссии по приемке установленного оборудования после индивидуальных испытаний и комплексного опробования на объектах производственной инфраструктуры;
                <br/>•формирование и руководство работой приемочной комиссии по законченным строительством объектам или выполненным строительным работам, предоставление приемочной комиссии необходимых документов;
                <br/>•подготовку документов, необходимых для обращения за государственной регистрацией в отношении принятого в эксплуатацию объекта;
                <br/>•осуществление контроля за соблюдением подрядчиком своих обязательств в период действия гарантийного срока;
            </li>
        <li>выполнение иных функций, определенных заказчиком, застройщиком в соответствии с законодательством и договором.</li>
        <li>
            <b>Конкретные функции, права, обязанности и ответственность инженера (инженерной организации) при оказании инженерных услуг определяются сторонами при заключении договора на оказание инженерных услуг.</b>
            <br/>Не подлежат передаче инженеру (инженерной организации) следующие функции заказчика, застройщика:
            <div class="contentText" style="margin-top:0px;">
                •принятие решения о строительстве объекта и (или) выполнении строительных, специальных, монтажных, пусконаладочных работ;
                <br/>•получение предусмотренных законодательством разрешений соответствующих организаций на производство работ, в том числестроительно-монтажных работ, на пользование в период строительства электроэнергией, газом, водой, паром, на рубку леса, на удаление и (или) пересадку объектов растительного мира, а в необходимых случаях – получение и передача лесорубочных билетов;
                <br/>•утверждение проектно-сметной документации;
                <br/>•принятие от разработчиков проектной документации, передача ее подрядчику с отметками «К производству работ», за исключением случаев, когда инженер (инженерная организация) заключил совместно с заказчиком, застройщиком договор строительного подряда либо договором строительного подряда предусмотрена обязанность подрядчика разработать проектную документацию;
                <br/>•передача подрядчику строительной площадки, за исключением случаев, когда инженер (инженерная организация) заключил совместно с заказчиком, застройщиком договор строительного подряда;
                <br/>•принятие решения о консервации объекта строительства, о продлении срока строительства;
                <br/>•утверждение состава приемочной комиссии и акта приемки объекта в эксплуатацию;
                <br/>•иные функции, которые в соответствии с законодательством и договором осуществляются исключительно заказчиком, застройщиком.
                
            </div>
        </li>
        <li>Инженер (инженерная организация) не имеет права без предварительного согласия заказчика, застройщика уступить свои обязательства по договору на оказание инженерных услуг третьему лицу.</li>
        </ol>
</div>
