@{
    ViewBag.Title = "Home Page";
}
<div class="contentText">
        Консультативное унитарное предприятие «Юридическая служба» Васильева А.И., имеет опыт работы в сфере оказания инженерных услуг с 2002 года, свидетельство о государственной регистрации №238, аттестат соответствия №0000017-ИН, от 02.07.2014 года, второй категории на право выполнения функций заказчика, застройщика, оказания инженерных услуг по комплексному управлению строительной деятельностью, а также сертификат соответствия системы менеджмента качества применительно к выполнению функций заказчика, застройщика, оказания инженерных услуг по комплексному управлению строительной деятельностью соответствующий требованиям СТБ ISO 9001-2009, №BY/112 05.01.031 03447.
</div>
<br/>
<h3>Осуществляемые виды деятельности:</h3>
<div class="contentText">
    <ul>
        <li>Выполнение функций заказчика, застройщика, оказание инженерных услуг по комплексному управлению строительной деятельностью.</li>
        <li>Технический надзор.</li>
        <li>Предпроектные (прединвестиционные) работы.</li>
        <li>Организация и контроль строительных работ</li>
        <li>В области финансов: надзор за целевым и рациональным использованием средств, выделенных для строительства объекта, проверка справок, актов выполненных работ.</li>
        <li>Осуществление мероприятий, обеспечивающих своевременную приемку объекта в эксплуатацию в соответствие с проектной документацией.</li>
        <li>Государственная регистрация в отношении принятного в эксплуатацию объекта.</li>
        <li>Гарантируем ежедневное нахождение необходимого числа квалифицированных сотрудников по надзору на строительной площадке.</li>
        <li>Предоставление Заказчику ежемесячного письменного отчета о ходе строительства с анализом положения дел на объекте.</li>
        <li>Поиск и отвод земельных участков для строительства объектов по заказу Инвестора (Аукцион, Инвестиционный договор, Долевое участие, Покупка юридического лица с правом владения земельного участка и др.)</li>
        <li>Изучение и выдача заключений по инженерным сетям, обоснование инвестиций в строительство.</li>
    </ul>
</div>
<div class="contentText">
    <b>
        В своей деятельности специалисты инженерной организации обязуются отстаивать интересы Заказчика и принимать все необходимые меры для снижения стоимости строительства, повышения качества, наличия всей организационно-разрешительной документации и своевременной сдачи объекта в эксплуатацию.
    </b>
</div>
<div class="contentText">
    <b>
        От замысла, до воплощения в реальность на всей стадии инвестиционного процесса!
    </b>
</div>

