@model dynamic

@{
    ViewBag.Title = "title";
}
<h3>Технический надзор:</h3>
<div class="contentText">
    <ul>
        <li>Контроль строительного процесса, включающего контроль и надзор соответствием строительно-монтажных работ, применяемых материалов, изделий, конструкций и оборудования требованиям действующих ТНПА и утвержденной проектно-сметной документации, а также ТКП 45-1.03-162-2009 «Технический надзор в строительстве. Порядок проведения».</li>
        <li>Освиделетельствование, приемка и учет выполненных работ.</li>
        <li>Для осуществления функций технического надзора назначаются специалисты с высшим образованием и аттестованные в порядке, установленном законодательством Республики Беларусь.</li>
        <li>Лицо, ответственное за технический надзор, способствует своей деятельностью целевому и рациональному использованию средств заказчика, предпринимает действия для ввода в эксплуатацию объекта в сроки, определенные договором.</li>
        <li>Проверяет своевременность, полноту и правильность выполнения геодезических работ в процессе строительства.</li>
        <li>При выявлении несоответствий в проектно-сметной документации или при необходимости изменения проектных решений, замены материалов, изделий и конструкций, вносит предложения Заказчику для решения этих вопросов.</li>
        <li>Контролирует испытание инженерных сетей и следит за надлежащим оформлением результатов испытаний.</li>
        <li>Вносит замечания и указания по устранению выявленных дефектов и нарушений в журналы производства работ с указанием срока исполнения и в обязательном порядке контролирует их выполнение.</li>
        <li>По требованию Заказчика подтверждает готовность объекта к сдаче в эксплуатацию и принимает участие в работе приемочной комиссии.</li>
    </ul>
</div>